<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://host.docker.internal:5432/rehearsal-bases</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <!--property name="connection.pool_size">1</property-->
        <property name="hibernate.ddl-auto">none</property>
        <mapping class="org.vikbur.models.User"/>
        <mapping class="org.vikbur.models.Band"/>
        <mapping class="org.vikbur.models.Base"/>
        <mapping class="org.vikbur.models.Room"/>
    </session-factory>
</hibernate-configuration>